.home-carousel div {
    /* margin-top: 2rem; */
    height: 100vh;
    width: auto;
    animation: fadeIn 1s ease-in-out;
}

.home-carousel .card1{
    background: url(./../../../assets/img/home/img1.jpg);
    background-position: center;
}
.home-carousel .card2{
    background: url(./../../../assets/img/home/img2.jpg);
    background-position: center;
}
.home-carousel .card3{
    background: url(./../../../assets/img/home/img3.jpg);
    background-position: center;
}
.home-carousel .card4{
    background: url(./../../../assets/img/home/img4.jpg);
    background-position: center;
}
.home-carousel .card5{
    background: url(./../../../assets/img/home/img5.jpg);
    background-position: center;
}
.home-carousel .card6{
    background: url(./../../../assets/img/home/img6.jpg);
    background-position: center;
}

@media screen and (max-width: 960px) {
    .home-carousel div {
        margin-top: 5rem;
        height: 90vh;
        width: auto;
        background-repeat: no-repeat !important;
        background-size: cover !important;
    }
    .home-carousel .card1{
        background-position: center;
    }
    .home-carousel .card2{
        background-position: center;
        /* background-position: calc(100% - 12rem); */
    }
    .home-carousel .card3{
        background-position: center;
    }
    .home-carousel .card4{
        background-position: center;
    }
    .home-carousel .card5{
        background-position: center;
        background-position: calc(50% - 15rem);
    }
    .home-carousel .card6{
        background-position: center;
    }
    
}
