@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

@font-face {
    font-family: 'Bond-4f';
    src: url('./assets/fonts/bond-4f-medium.woff');
}

* {
    scroll-behavior: smooth;
}
